<h2>Lista de cursos: </h2>
<hr>
<a href="/registro/curso/add"><button class="btn btn-success">Novo curso</button></a>

{{#each curso}}
    <div class="card mt-4">
        <div class="card-body">
            <h4>{{nome}}</h4>
            <small>ID do curso: {{id}}</small>
            <br>
            <small>Código: {{codigo}}</small>
            <br>
            <small>Unidade: {{unidade}}</small>
            <br>
            <small>Descrição: {{descricao}}</small>
            <br>
            <a href="/registro/curso/cursodisciplina/{{id}}"><button class="btn btn-success mt-4">Adicionar disciplina</button></a>
            <br>
            <a href="/registro/curso/edit/{{id}}"><button class="btn btn-success mt-4">Editar curso</button></a>
            <form action="/registro/curso/deletar" method="POST">
                <input type="hidden" name="id" value="{{id}}">
                <button type="submit" class="btn btn-danger mt-4">Excluir curso</button>
            </form>
        </div>
    </div>
{{else}}
    <h4 class="mt-3">Nenhum curso registrado!</h4>
{{/each}}