<div class="card mt-4">
        <div class="card-body">
            <h4>{{disciplina.nome}}</h4>
            <small>Código da disciplina: {{disciplina.codigo}}</small>
            <br>
            <small>Carga horária: {{disciplina.ch}}h</small>
            <br>
            <small>CPF do monitor: {{disciplina.cpf_monitor}}</small>
            <br>
            <small>ID do professor: {{disciplina.id_professor}}</small>
        </div>
    </div>